<!--Pagina cu detalii despre utilizatorul logat-->
@{
    ViewBag.Title = "Account";
}
@model ProiectLicenta.Models.Utilizatori
    <link rel="stylesheet" type="text/css" href="~/Content/ModalWindow.css" />
<h2>Contul dumneavoastra</h2>

<div id="userGrid">
    @(Html.Kendo().Grid<ProiectLicenta.Models.Utilizatori>()
            .AutoBind(true)
            .Name("grid")
            .Columns(col =>
            {
                col.Bound(c => c.Id).Hidden(true);
                col.Bound(c => c.Nume_Utilizator).Title("Nume");
                col.Bound(c => c.Email);
            })
            .Selectable(s => s.Mode(GridSelectionMode.Multiple))
            .Events(e => e.Change("GridSelected"))
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("UserAccount", "Profile"))
        )
)
</div>


<script>
    function GridSelected() {
        var grid = $("#grid").data("kendoGrid");
        var selected = grid.dataItem(grid.select());

        var Id = selected.Id;
        var NumeUtilizator = selected.Nume_Utilizator;
        var Email = selected.Email;

        $("#myModal").modal('show');//arat fereastra modala
        document.getElementById("usrId").value = Id;
        document.getElementById("usrName").value = NumeUtilizator;//completare campuri din modal cu informatiile necesare
        document.getElementById("email").value = Email;
    }
</script>


<!-- modal bun-->
<div id="myModal" class="modal fade" aria-labelledby="myModalLabel" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Editati functia</h4>
            </div>
            <div class="modal-body" id="myModalBody">
                Id: <p><input class="form-control" type="text" id="usrId" value="" readonly="readonly"></p>
                Nume Utilizator: <p><input class="form-control" type="text" id="usrName" value=""></p>
                Adresa de email: <p><input class="form-control" type="text" id="email" value=""></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" onclick="SendDetails()">Actualizeaza</button>
            </div>
        </div>
    </div>
</div>
<script>
    function SendDetails() {

        var fields = {

            Id: $("#usrId").val(),
            Nume_Utilizator: $("#usrName").val(),
            Email: $("#email").val(),
        }

        alert(JSON.stringify(fields));
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: "/Profile/UpdateUserDetails",
            type: "POST",
            data: JSON.stringify(fields)
        });
        $("#responsive").modal('toggle')

    }
</script>
