@{ 
    ViewBag.Title = "Adaugare utilizatori";
}

<h2>Adaugati utilizatori in sistem</h2>


@Html.ActionLink("Creati cont nou", "CreateUsers", "Users", null, htmlAttributes : new { @class = "btn btn-primary"})<br>
<p>

</p>
@Html.ActionLink("Log In", "LogIn", "Users", null, htmlAttributes: new { @class = "btn btn-primary" })




