@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p> Aplicatie de management al timpului pentru evenimente stiintifice. Acesata aplicatie perminte monitorizarea stadiului pregatirilor prntru un evenimnet. Evenimentul are o echipa<br>
        Echipa este coordonata de un Main Organiizer sau Conference chair. Memrii echipei pot vedea ce task-uri au asignate si pot marca starea taskului, Chair-ul poate vedea statusul taskurilor
    </p>
</article>


 