@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AwesomeApp :D</h1>
    <p class="lead">
        Fiti mai productivi<br>
        Gestionati sarcinile mai bine
        Este gratis
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Creati evenimente stiintifice
        </p>
           
    </div>
    <div class="col-md-4">
        <h2>Organizare</h2>
        <p> Organizati mai bine echipa de eveniment</p>
        
    </div>
    <div class="col-md-4">
        <h2>Monitorizati</h2>
        <p>Motitorizati progresul pregatirilor</p>
        
    </div>
</div>

