
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br>
@(
            Html.Kendo().Scheduler<ProiectLicenta.DTO.TaskScheduler>()
                .Name("sch")
                .Date(DateTime.Now)
                .Height(600)
                .Views(view =>
                {
                    view.DayView();
                    view.WeekView(week => week.Selected(true));
                    view.WeekView();
                    view.MonthView();
                    view.AgendaView();
                })
                //.Timezone("GMT")
                .DataSource(d =>
                d.Model(m =>
                {
                    m.Id(f => f.TaskID);
                    m.Field(f => f.Start);
                    m.Field(f => f.End);
                    
                }).Read("AddTasksToSch", "TaskScheduler"))


 )



    